# Core LangChain
langchain
langchain-core
langchain-community

# Embeddings
langchain-huggingface
sentence-transformers
transformers
huggingface-hub

# Vector DB
faiss-cpu

# LLM (Groq)
langchain-groq

# YouTube transcript
youtube-transcript-api

# Env management
python-dotenv

# Utils
tqdm
numpy